<?php $_block = $this; ?>
<div id="<?php echo $_block->getHtmlId() ?>" >
<ul class="messages">
    <li class="notice-msg">
        <ul>
            <li>
            <?php echo Mage::helper('catalog')->__('Image type and information need to be specified for each store view.'); ?>
            </li>
        </ul>
    </li>
</ul>
<div class="grid">
<table class="sortable media-gallery-table" cellspacing="0" class="data border" id="<?php echo $_block->getHtmlId() ?>_grid" width="100%">
    <col width="1" />
    <col />
    <col width="70" />
    <?php foreach ($_block->getImageTypes() as $typeId=>$type): ?>
    <col />
    <?php endforeach; ?>
    <col width="70" />
    <col width="70" />
    <thead>
        <tr class="headings">
            <th width="100"><?php echo Mage::helper('catalog')->__('Image') ?></th>
            <th width="300"><?php echo Mage::helper('catalog')->__('URLs') ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th width="300"><?php echo Mage::helper('catalog')->__('Label') ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th sort="integer" width="50"><?php echo Mage::helper('catalog')->__('Sort Order') ?></th>
            <th sort="integer" width="80" class="a-center"><?php echo Mage::helper('catalog')->__('Size') ?></th>
            <?php foreach ($_block->getImageTypes() as $typeId=>$type): ?>
            <th width="50"><?php echo $type['label'] ?></th>
            <?php endforeach; ?>
            <th  width="20" class="a-center"><?php echo Mage::helper('catalog')->__('Exclude') ?></th>
            <th  width="20" class="a-center last"><?php echo Mage::helper('catalog')->__('Remove') ?></th>
        </tr>
    </thead>
    <tbody id="<?php echo $_block->getHtmlId() ?>_list">
        <tr id="<?php echo $_block->getHtmlId() ?>_template" class="template no-display">
                <td id="<?php echo $_block->getHtmlId() ?>_template_image" class="cell-image template_image"><div class="place-holder" onmouseover="<?php echo $_block->getJsObjectName(); ?>.loadImage('__file__')"><span><?php echo Mage::helper('catalog')->__('Roll Over for preview') ?></span></div><img src="<?php echo $this->getSkinUrl('images/spacer.gif')?>" width="100" style="display:none;" alt="" /></td>
                <td>&nbsp;</td>
                <td class="cell-label">
                    <input type="text" <?php if($_block->getElement()->getReadonly()):?> disabled="disabled"<?php endif;?> class="input-text" onkeyup="<?php echo $_block->getJsObjectName(); ?>.updateImage('__file__')" onchange="<?php echo $_block->getJsObjectName(); ?>.updateImage('__file__')" />
                </td>
                <td class="cell-position"><input type="text" <?php if($_block->getElement()->getReadonly()):?> disabled="disabled"<?php endif;?> class="input-text validate-number" onkeyup="<?php echo $_block->getJsObjectName(); ?>.updateImage('__file__')" onchange="<?php echo $_block->getJsObjectName(); ?>.updateImage('__file__')" /></td>
                <td class="cell-size a-center"></td>
                <?php foreach ($_block->getImageTypes() as $typeId=>$type): ?>
                <td class="cell-<?php echo $typeId ?> a-center"><input <?php if($_block->getElement()->getAttributeReadonly($typeId)) :?> disabled="disabled" <?php endif;?> type="radio" name="<?php echo $type['field'] ?>" onclick="<?php echo $_block->getJsObjectName(); ?>.setProductImages('__file__')" value="__file__" /></td>
                <?php endforeach; ?>
                <td class="cell-disable a-center"><input type="checkbox" <?php if($_block->getElement()->getReadonly()):?> disabled="disabled"<?php endif;?> onclick="<?php echo $_block->getJsObjectName(); ?>.updateImage('__file__')" /></td>
                <td class="cell-remove a-center last"><input type="checkbox" <?php if($_block->getElement()->getReadonly()):?> disabled="disabled"<?php endif;?> onclick="<?php echo $_block->getJsObjectName(); ?>.updateImage('__file__')" /></td>
        </tr>
        <tr id="<?php echo $_block->getHtmlId() ?>_template_external" class="template_external no-display">
                <td id="html-image-here"></td>
                <td class="cell-file">
                    <input type="text" class="input-text" value="__file__" onkeyup="<?php echo $_block->getJsObjectName(); ?>.changeImageIndex(this,'__file__','<?php echo Mage::helper("adminhtml")->getUrl("collisionsync_cdn/adminhtml_image/validate") ?>" onchange="<?php echo $_block->getJsObjectName(); ?>.changeImageIndex(this,'__file__','<?php echo Mage::helper("adminhtml")->getUrl("collisionsync_cdn/adminhtml_image/validate") ?>','cell-file input')" />
                </td>
                <td class="cell-label __extraclasslabel__">
                    <input type="text" <?php if($_block->getElement()->getReadonly()):?> disabled="disabled"<?php endif;?> class="input-text" onkeyup="<?php echo $_block->getJsObjectName(); ?>.updateExternalImage('__file__')" onchange="<?php echo $_block->getJsObjectName(); ?>.updateExternalImage('__file__')" />
                </td>
                <td class="cell-position __extraclassposition__"><input type="text" <?php if($_block->getElement()->getReadonly()):?> disabled="disabled"<?php endif;?> class="input-text validate-number" onkeyup="<?php echo $_block->getJsObjectName(); ?>.updateExternalImage('__file__')" onchange="<?php echo $_block->getJsObjectName(); ?>.updateExternalImage('__file__')" /></td>
                <td class="cell-size a-center">
                    <label id="external-image-load-__unique_id__"> __image_width__ x __image_height__ <br /> <strong>__type__</strong></label>
                    <div style="position: absolute; top: -9999em; left: -999em; visibility: hidden;">
                        <img id="img-unq-__unique_id__-load" onload="<?php echo $_block->getJsObjectName(); ?>.updateSizeImage('__unique_id__', this, '__file__')" src="__previewurl__" alt="" />
                    </div>
                    
                </td>
                <?php foreach ($_block->getImageTypes() as $typeId=>$type): ?>
                <td class="cell-<?php echo $typeId ?> a-center"><input <?php if($typeId === 'image_zoom'): ?> onclick="alert('This attribute cant be changed.'); return false;" <?php else: ?> onclick="<?php echo $_block->getJsObjectName(); ?>.setProductImageExternal('__file__')" <?php endif;?> <?php if($_block->getElement()->getAttributeReadonly($typeId)) :?> disabled="disabled" <?php endif;?> type="radio" name="<?php echo $type['field'] ?>" value="__file__" /></td>
                <?php endforeach; ?>
                <td class="cell-disable a-center"><input type="checkbox" <?php if($_block->getElement()->getReadonly()):?> disabled="disabled"<?php endif;?> onclick="<?php echo $_block->getJsObjectName(); ?>.updateExternalImage('__file__')" /></td>
                <td class="cell-remove a-center last"><input type="checkbox" <?php if($_block->getElement()->getReadonly()):?> disabled="disabled"<?php endif;?> onclick="<?php echo $_block->getJsObjectName(); ?>.updateExternalImage('__file__')" /></td>
        </tr>
        <?php if($_block->hasUseDefault()): ?>
        <tr id="<?php echo $_block->getHtmlId() ?>_default">
                <td><?php echo Mage::helper('catalog')->__('Use Default Value') ?></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <?php foreach ($_block->getMediaAttributes() as $_attribute): ?>
                <td class="a-center">
                <?php if($_block->getElement()->canDisplayUseDefault($_attribute)): ?>
                <input class="default-checkbox" name="use_default[]" type="checkbox" <?php if($_block->getElement()->getAttributeReadonly($_attribute->getAttributeCode())):?> disabled="disabled" <?php endif;?>  onclick="<?php echo $_block->getJsObjectName(); ?>.updateUseDefault()"
<?php if($_block->getElement()->usedDefault($_attribute)): ?>checked<?php endif; ?> value="<?php echo $_attribute->getAttributeCode() ?>" />
                <?php endif ?>
                </td>
                <?php endforeach; ?>
                <td>&nbsp;</td>
                <td class="last">&nbsp;</td>
        </tr>
    <?php endif ?>
        <tr id="<?php echo $_block->getHtmlId() ?>-image-0">
                <td class="cell-image"><?php echo Mage::helper('catalog')->__('No image') ?></td>
                <td>&nbsp;</td>
                <td class="cell-label"><input type="hidden" />&nbsp;</td>
                <td class="cell-position"><input type="hidden" />&nbsp;</td>
                <td class="cell-size"><input type="hidden" />&nbsp;</td>
                <?php foreach ($_block->getImageTypes() as $typeId=>$type): ?>
                <td class="cell-<?php echo $typeId ?> a-center"><input type="radio" <?php if($_block->getElement()->getAttributeReadonly($typeId)) :?> disabled="disabled" <?php endif;?> name="<?php echo $type['field'] ?>" onclick="<?php echo $_block->getJsObjectName(); ?>.setProductImages('no_selection')" value="no_selection" /></td>
                <?php endforeach; ?>
                <td class="cell-disable"><input type="hidden" />&nbsp;</td>
                <td class="cell-remove last"><input type="hidden" />&nbsp;</td>
        </tr>
    </tbody>
<?php if (!$_block->getElement()->getReadonly()):?>
    <tfoot id="<?php echo $_block->getHtmlId() ?>-image-new">
        <tr>
            <td colspan="3">
                <h3 style="margin: 10px 6px 0px;">Add External Images</h3>
                <table cellspacing="0" class="form-list">
                    <tbody style="background: none repeat scroll 0% 0% transparent;">
                        <tr style="background: none repeat scroll 0% 0% transparent ! important;">
                            <td class="label">
                                <label for="">Base Image</label>
                            </td>
                            <td class="value cell-url-base">
                                <input type="text" name="image-base" class="input-text" />
                            </td>
                        </tr>
                        <tr style="background: none repeat scroll 0% 0% transparent ! important;">
                            <td class="label">
                                <label for="">Small Image</label>
                            </td>
                            <td class="value cell-url-small">
                                <input type="text" name="image-small" class="input-text" />
                            </td>
                        </tr>
                        <tr style="background: none repeat scroll 0% 0% transparent ! important;">
                            <td class="label">
                                <label for="">Thumbnail Image</label>
                            </td>
                            <td class="value cell-url-thumbnail">
                                <input type="text" name="image-thumbnail" class="input-text" />
                            </td>
                        </tr>
                        <tr style="background: none repeat scroll 0% 0% transparent ! important;">
                            <td class="label">
                                <label for="">Zoom Image</label>
                            </td>
                            <td class="value cell-url-zoom">
                                <input type="text" name="image-zoom" class="input-text" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td colspan="100">
                <h3 style="margin: 10px 0px 0px;">&nbsp;</h3>
                <table cellspacing="0" class="form-list" style="width: 350px! important; float: left;">
                    <tbody style="background: none repeat scroll 0% 0% transparent;">
                        <tr style="background: none repeat scroll 0% 0% transparent ! important;">
                            <td class="value cell-label-external">
                                <label for="">Image Label</label>
                                <input type="text" name="add-image" class="input-text" style="width: 76%!important;" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table cellspacing="0" class="form-list" style="width: auto ! important; float: left;">
                    <tbody style="background: none repeat scroll 0% 0% transparent;">
                        <tr style="background: none repeat scroll 0% 0% transparent ! important;">
                            <td class="value">
                                <button type="button" class="scalable add" onclick="<?php echo 'cdnimage_' . $_block->getJsObjectName(); ?>.addNewImageButton();" ><span><span><span>Add Image</span></span></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tfoot>
    <tfoot>
        <tr>
            <td colspan="100" class="last" style="padding:8px">
                <?php echo $_block->getUploaderHtml() ?>
            </td>
        </tr>
    </tfoot>
<?php endif;?>
</table>
</div>
</div>
<input type="hidden" id="<?php echo $_block->getHtmlId() ?>_save" name="<?php echo $_block->getElement()->getName() ?>[images]" value="<?php echo $_block->htmlEscape($_block->getImagesJson()) ?>" />
<input type="hidden" id="<?php echo $_block->getHtmlId() ?>_save_image" name="<?php echo $_block->getElement()->getName() ?>[values]" value="<?php echo $_block->htmlEscape($_block->getImagesValuesJson()) ?>" />
<script type="text/javascript">
//<![CDATA[
var <?php echo $_block->getJsObjectName(); ?> = new Product.Gallery('<?php echo $_block->getHtmlId() ?>', <?php if ($_block->getElement()->getReadonly()):?>null<?php else:?><?php echo $_block->getUploader()->getJsObjectName() ?><?php endif;?>, <?php echo $_block->getImageTypesJson() ?>, <?php echo $_block->getImagesDetectionSize(); ?>);
//]]>
</script>
<script type="text/javascript">
//<![CDATA[
var <?php echo 'cdnimage_' . $_block->getJsObjectName(); ?> = new CdnGallery_Admin('<?php echo $_block->getHtmlId() ?>', <?php echo $_block->getJsObjectName(); ?>, '<?php echo Mage::helper("adminhtml")->getUrl("collisionsync_cdn/adminhtml_image/index") ?>');
//]]>
</script>
<style>
.media-gallery-table table {
    border: 0 none;
}
.media-gallery-table td td {
    border: 0 none;
    padding: 3px 0;
}
.grid table tr.single-row td {
    border-top: 1px solid #000000;
}
.hide-input .input-text {
    display: none;
}
</style>
<script type="text/javascript" charset="utf-8">
    Event.observe(window, 'load', function(event) {
        var elements = $$('tr.real-row-data');
        for (var i = elements.length - 1; i >= 0; i--) {
            elements[i].remove(elements[i].parentNode);
        };

        <?php echo $_block->getJsObjectName(); ?>.container.setHasChanges();
        <?php echo $_block->getJsObjectName(); ?>.getElement('save').value = Object.toJSON(<?php echo $_block->getJsObjectName(); ?>.images);
        <?php echo $_block->getJsObjectName(); ?>.images = <?php echo $_block->getJsObjectName(); ?>.sortImages(<?php echo $_block->getImagesDetectionSize(); ?>);
        <?php echo $_block->getJsObjectName(); ?>.getElement('save').value = Object.toJSON(<?php echo $_block->getJsObjectName(); ?>.images);
        <?php echo $_block->getJsObjectName(); ?>.updateImages();

    });
</script>

