/**
 * @category    Collisionsync
 * @package     Collisionsync_Core
 * @copyright   Copyright (c) http://www.CollisionSync.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
#m-wait {
    position:absolute;
    color:#d85909;
    font-size:1.1em;
    font-weight:bold;
    text-align:center;
    z-index:21000;
    display: none!important;
}
#m-wait .loader {
    display: none!important;
    position:fixed;
    top:45%;
    left:50%;
    width:120px;
    margin-left:-60px;
    padding:15px 60px;
    background: transparent;
    color:#A60000;
    font-weight:bold;
    text-align:center;
    z-index:20100;
    display: none!important;
}
.m-popup {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    text-align: center;
    z-index: 20000;
    opacity:0.80;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE8 */
    z-index:20000;
    width: 100%;
    height: 100%;
    display: none!important;
}
.m-popup-overlay {
    position: absolute;
    background: black;
    filter: alpha(opacity = 0); /* percent */
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    z-index: 10000;
    display: none!important;
}
