<?php
/**
 * @category    Collisionsync
 * @package     Collisionsync_Core
 * @copyright   Copyright (c) http://www.CollisionSync.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/* @var $this Mage_Core_Block_Template */
?>
<div id="m-wait" style="display:none;">
    <p class="loader" id="loading_mask_loader"><img src="<?php echo $this->getSkinUrl('images/collisionsync_core/m-wait.gif') ?>" alt="<?php echo $this->__('Loading...') ?>"/><br/><?php echo $this->__('Please wait...') ?></p>
</div>

