<?php 
/**
 * @category    Collisionsync
 * @package     Collisionsync_Filters
 * @copyright   Copyright (c) http://www.CollisionSync.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/** 
 * Template for showing options for filter as a HTML list 
 * @author Collisionsync Team
 * Injected instead of standard catalog/layer/filter.phtml in Collisionsync_Filters_Block_Filter_Attribute constructor.
 * This template is overridden by copying (template body was pasted from catalog/layer/filter.phtml 
 * and modified as needed). All changes are marked with comments.
 */
/* @var $this Collisionsync_Filters_Block_Filter_Attribute */

$_itemCount = $this->getItemsCount();
$_extraClass = "";

if ( $_itemCount > 5){
    $_extraClass = "scrollbox";
}else{
    $_extraClass = "scrollbox2";
}

?>
<form action="" method="get" accept-charset="utf-8" class="<?php echo $_extraClass; ?>">
    <?php if ( $_itemCount > 5): ?>
        <div class="header-input">
            <input class="filterinput" type="text" placeholder="Search..." />
        </div>
    <?php endif; ?>
    <ol class="m-filter-item-list <?php echo $_extraClass; ?>">
    <?php foreach ($this->getItems() as $_item): ?>
        <li <?php if ($_item->getMSelected()): ?>class="m-selected-ln-item"<?php endif; ?>>
            <?php if ($_item->getMSelected()): ?>
                <span class="m-selected-filter-item">
                    <input title="<?php echo $_item->getSort() ?>"  checked="checked" id="<?php echo $_item->getCode() ?>_<?php echo $_item->getValue() ?>" type="checkbox" name="<?php echo $_item->getCode() ?>" value="<?php echo $_item->getValue() ?>" />
                    <label title="<?php echo $_item->getSort() ?>"  for="<?php echo $_item->getCode() ?>_<?php echo $_item->getValue() ?>"><?php echo $_item->getLabel() ?></label>
                </span>
            <?php else : ?>
                <?php if ($_item->getCount() > 0): ?>
                    <input title="<?php echo $_item->getSort() ?>"  id="<?php echo $_item->getCode() ?>_<?php echo $_item->getValue() ?>" type="checkbox" name="<?php echo $_item->getCode() ?>" value="<?php echo $_item->getValue() ?>" />
                    <label title="<?php echo $_item->getSort() ?>"  for="<?php echo $_item->getCode() ?>_<?php echo $_item->getValue() ?>"><?php echo $_item->getLabel() ?></label>
                <?php else: ?>
                    <span class="no-items">
                        <input id="<?php echo $_item->getCode() ?>_<?php echo $_item->getValue() ?>" type="checkbox" name="<?php echo $_item->getCode() ?>" value="<?php echo $_item->getValue() ?>" />
                        <label title="<?php echo $_item->getSort() ?>"  for="<?php echo $_item->getCode() ?>_<?php echo $_item->getValue() ?>"><?php echo $_item->getLabel() ?></label>
                    </span>
                <?php endif; ?>
            <?php endif; ?>
            (<?php echo $_item->getCount() ?>)
        </li>
    <?php endforeach ?>
    </ol>
    <?php echo Mage::helper('collisionsync_core')->getNamedHtml('collisionsync_filters/markup', 'after_items', array('block' => $this)) ?>
    <div class="button-set">
        <a class="send-button" href="<?php echo $this->helper('core/url')->getCurrentUrl(); ?>"><span><span><?php echo $this->__('Apply Filter') ?></span></span></a>
    </div>
</form>