<?php 
/**
 * @category    Collisionsync
 * @package     Collisionsync_Filters
 * @copyright   Copyright (c) http://www.CollisionSync.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/** 
 * Template for showing options for filter as a HTML list 
 * @author Collisionsync Team
 * Injected instead of standard catalog/layer/filter.phtml in Collisionsync_Filters_Block_Filter_Attribute constructor.
 * This template is overridden by copying (template body was pasted from catalog/layer/filter.phtml 
 * and modified as needed). All changes are marked with comments.
 */
/* @var $this Collisionsync_Filters_Block_Filter_Attribute */

$_itemCount = $this->getItemsCount();
$_extraClass = "";

if ( $_itemCount > 5){
    $_extraClass = "scrollbox";
}else{
    $_extraClass = "scrollbox2";
}

?>
<form action="" method="get" accept-charset="utf-8">
<ol class="m-filter-item-list <?php echo $_extraClass; ?>">
<?php foreach ($this->getItems() as $_item): ?>
    <li <?php if ($_item->getMSelected()): ?>class="m-selected-ln-item"<?php endif; ?>>
        <?php //BEGIN ?>
        <?php if ($_item->getMSelected()): ?>
            <span class="m-selected-filter-item"><?php echo $_item->getLabel() ?></span>
        <?php else : ?>
            <?php if ($_item->getCount() > 0): ?>
            <a href="<?php echo $this->urlEscape($_item->getReplaceUrl()) ?>" title="<?php echo $_item->getLabel() ?>"><?php echo $_item->getLabel() ?></a>
            <?php else: echo $_item->getLabel() ?>
            <?php endif; ?>
        <?php endif; ?>
        <?php //END ?>
        (<?php echo $_item->getCount() ?>)
    </li>
<?php endforeach ?>
</ol>
<?php echo Mage::helper('collisionsync_core')->getNamedHtml('collisionsync_filters/markup', 'after_items', array('block' => $this)) ?>
</form>
