/**
 * @category    Collisionsync
 * @package     Collisionsync_Ajax
 * @copyright   Copyright (c) http://www.CollisionSync.com
 * @license     http://www.CollisionSync.com/license  Proprietary License
 */
.m-overlay {
    position: absolute;
    background: white; /*url('../images/collisionsyncpro_filterajax/overlay.gif');*/
    filter:alpha(opacity=80);/* percent */
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    z-index: 10000;
}
.m-overlay .loader {
	background: none repeat scroll 0 0 transparent;
    color: #A60000;
    font-weight: bold;
    padding: 15px 0px;
    text-align: center;
    width: 120px;
    position: fixed;
}
.m-overlay .loader img{
    display: inline;
}
.m-overlay .loader .loader-image{
	background: url("../images/collisionsync_core/m-wait.gif") no-repeat scroll 0 0 transparent;
    height: 31px;
    margin: 5px auto 10px;
    width: 31px;
}